@model Book

<h1 class="display-4">@ViewBag.Greeting</h1>
<hr />

<h3 class="display-4">Are you sure you want to delete this?</h3>
<dl class="row">

    <dt class="col-2">ID</dt>
    <dd class="col-10">@Model.Id</dd>

    <dt class="col-2">@Html.DisplayNameFor(e => e.BookTitle)</dt>
    <dd class="col-10">@Model.BookTitle</dd>

    <dt class="col-2">@Html.DisplayNameFor(e => e.Author)</dt>
    <dd class="col-10">@Model.Author</dd>

    <dt class="col-2">@Html.DisplayNameFor(e => e.Pages)</dt>
    <dd class="col-10">@Model.Pages</dd>

    <dt class="col-2">@Html.DisplayNameFor(e => e.ISBN)</dt>
    <dd class="col-10">@Model.ISBN</dd>

</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<br />

<a asp-action="Index">Back to List</a>